

.in-stock {
    font: bold 15px Sans-Serif;
    color: white;
    text-align: center;
    background-color: #077bfe;
    position: absolute;
    padding: 8px 0;
    width: 100px;
    cursor: default;
    z-index: 99;
    border-radius: 5px;
    margin: 5px;
    top: 0px;
    right: 5px;
}

.out-of-stock {
    font: bold 15px Sans-Serif;
    color: white;
    text-align: center;
    background-color: #c9302c;
    position: absolute;
    padding: 8px 0;
    width: 100px;
    cursor: default;
    z-index: 99;
    border-radius: 5px;
    margin: 5px;
    top: 0px;
    right: 5px;
}

.qty-text {
    font-style: italic;
    text-decoration: underline;
}

